esp-ejb-sbootapp/src/main/resources/esp.ejb-wsdl/calc/CalculatorBeanService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-06/29/2016 1:04:51 PMforeman-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>-->
<xs:schema version="1.0" targetNamespace="http://ejb.esp/" xmlns:tns="http://ejb.esp/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="calculate" type="tns:calculate"/>

  <xs:element name="calculateResponse" type="tns:calculateResponse"/>

  <xs:complexType name="calculate">
    <xs:sequence>
      <xs:element name="data" type="tns:inputData"/>
      <xs:element name="operation" type="tns:statisticalOperation"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="inputData">
    <xs:sequence>
      <xs:element name="data" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="calculateResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:calculatedResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="calculatedResponse">
    <xs:sequence>
      <xs:element name="result" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="statisticalOperation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUM"/>
      <xs:enumeration value="AVERAGE"/>
      <xs:enumeration value="MEAN"/>
      <xs:enumeration value="MEDIAN"/>
      <xs:enumeration value="MODE"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

